<launch>

  <arg name="robot_model"                       default="wxmark4"/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="use_rviz"                          default="false"/>
  <arg name="mode_configs"                      default="$(find walknet_curvewalking)/config/modes.yaml"/>
  <arg name="load_configs"                      default="true"/>
  <arg name="use_pixels"                        default="true"/>
  <arg name="launch_driver"                     default="true"/>

  <include if="$(arg launch_driver)" file="$(find interbotix_xshexapod_control)/launch/xshexapod_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="use_rviz"                          value="$(arg use_rviz)"/>
    <arg name="rviz_frame"                        value="$(arg robot_name)/base_link"/>
    <arg name="mode_configs"                      value="$(arg mode_configs)"/>
    <arg name="load_configs"                      value="$(arg load_configs)"/>
    <arg name="use_pixels"                        value="$(arg use_pixels)"/>
  </include>
</launch>
